/************************* @ **********************/
/************************* @ **********************/
/************************* @ **********************/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background:#dce0e2;
  padding:30px;
}

/************************* @ **********************/
/************************* @ **********************/
/************************* @ **********************/
